.tabs
    .tabs-headers
        .tabs-header(
            ng-repeat="(key, response) in responses" 
            ng-class="key == tabs.activeKey ? 'active' : ''"
            ng-bind="response.name"
            ng-click="tabs.activeKey = key")
    .tabs-container
        .tabs-pane(
            ng-repeat="(key, response) in responses" 
            ng-if="key == tabs.activeKey")
            example-response-item(response="response")