div.navbar-item
    div(
        ng-if="item.item.length > 0" 
        ng-click="item.opened = !item.opened"
        ng-class="item.opened ? 'mdi-chevron-up' : 'mdi-chevron-right'"
        ).navbar-item-chevron.mdi
    
    div(
        scroll-to="{{ '#' + item.uid }}" 
        ng-click="item.opened = !item.opened"
        ng-class="(item.opened ? 'active' : '') + ' ' + (item.request ? 'navbar-item-link' : 'navbar-item-directory')")

        span(
            ng-if="item.item.length > 0"
            ng-class="item.opened ? 'mdi-folder-open' : 'mdi-folder'"
            ).mdi

        span(
            ng-if="item.request.method" 
            ng-bind="item.request.method" 
            ng-class="'navbar-item-method-' + method_lc"
            ).navbar-item-method

        span(
            ng-bind="item.name")

    nav-bar-item(
        ng-repeat="_item in item.item" 
        ng-if="item.opened && item.item" 
        item="_item")